/* .hover-button .hover-button--on, .hover-button:hover .hover-button--off {
  display: none;
}

.hover-button:hover .hover-button--on {
  display: inline;
} */

.container {
  font-family: 'Roboto,Arial,Helvetica,sans-serif';
  display: grid;
  grid-template-rows: 220px 500px 100px 100px 100px 1fr;
}

.headerBar {
  /* background-color: #007eff; */
  background-color: #3987c9;
  color: white;
}

.title {
  position: relative;
  font-size: 50px;
  padding: 10px;
  left: 10px;
}

.friendForm {
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  left: 10px;
}

.nameForm {
  padding-bottom: 5px;
  display: inline-block;
}

.name {
  margin-left: 14px;
  width: 200px;
}

.address {
  width: 200px;
}

.clearFriends {
  height: 30px;
}

.addressForm {
  /* padding-bottom: 5px; */
  vertical-align: middle;
}
.googleMap {

}

.avgPoint {
  margin: 14px;
}

.placesHeader {
  position: relative;
  /* height: 80px;  */
  text-align: center;
  line-height: 30px;
}

.findStatementOne {
  font-size: 25px;
}

.findStatementTwo {
  font-size: 20px;
}

.searchList {

}

.sorter {
  width: 250px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.filterBar {
  text-align: center;
  float: left;
  position: relative;
  left: 50px;
  top: 16px;
}

.placesSection {

}

.places {
  margin-left: 300px;
}

input[type=text] {
  width: 200px;
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333; 
}

input[type=submit] {
  padding:5px 15px; 
  margin: 5px;
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  vertical-align: middle;
}

.slider {
  width: 200;
  margin: 10px 5px 5px 10px;
}

.ratings {
  width: 200px;
  margin: 10px 5px 5px 10px;
}

.place {
  display: grid;
  grid-template-columns: 400px 200px 1fr;
  margin: 5px;
}

.line {
  display: grid;
  grid-template-columns: 500px 1fr;
}

hr.placeLine {
  width: 500px;
}